*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    width: 200px;
    padding-bottom: 300px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
}
.nav h3{
    font-weight: lighter;
    font-size: 30px;
    padding: 3px 10px;
    border-right: 1px solid black;
}
.nav h1{
    border-right: 1px solid black;
}
.nav h3:hover{
    background-color: rgba(128, 128, 128, 0.6);
}
.nav h1:hover{
    background-color: rgba(128, 128, 128, 0.6);
}
.intro{
    position: absolute;
    margin-top: -44%;
    margin-left: 260px;
}
.intro ul li{
    font-size: 20px;
}